.main-container {
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
}

.social-media-btn-div {
	margin-top: 50px;
	text-align: center;
}

.social-media-btn {
	/* position: relative;
	left: 15vw;
	top: 5%;
	margin-left: 30px; */
	margin: 20px;
}

.content-container h1 {
	font-weight: bold;
	margin-bottom: 30px;
	margin-top: 50px;
}

p {
	padding: 20px;
}
.pineapple-img {
    width: 90% !important;
	margin: 0 auto;
	
}

.content-container h1 {
	text-transform: uppercase;
	background: linear-gradient(to right, #30AAD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.container-lg {
    max-width: 1000px;
}